* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "montserrat", sans-serif;
  background-image: url("./Images/liquid-cheese.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
